body{
	background-color: #AAAAAA;
}


.top{
	background-color: black;
}

/* 
	Classes para a barra de navegação
*/

.dev-navbar{
	background-color: black;
	color: #AAAAAA;
	margin-bottom: 40px;
}

.dev-navbar a{
	color: white;
}

.dev-navbar a:hover {
	color: darkred;
}

.dev-navbar li a{
	color: white;
}

.dev-navbar li a:hover{
	color: darkred;
}

.wrap {
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
}

.footer{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: #FFF;
	font-size: 10px;
}

.footer img{
	border: 1px solid white;
	height: 40px;
	margin-bottom: 5px;
}